<!--
 * @Author: CutterSavior Nanaa.888080@Gmail.com
 * @Date: 2025-10-07 10:42:50
 * @LastEditors: CutterSavior Nanaa.888080@Gmail.com
 * @LastEditTime: 2025-10-07 11:18:02
 * @FilePath: \YunQI\app001\app\admin\view\user\index\detail.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <el-row>
        <el-col :md="6" style="padding: 5px;">
            <el-card header="會員資料" style="height: 100%;" shadow="never">
                <div style="display:flex;justify-content:center;padding:15px 0;">
                    <el-avatar :size="120" :src="user.avatar"></el-avatar>
                </div>
                <el-form label-position="top">
                    <el-form-item label="用戶名:">
                        <el-input v-model="user.username" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="手機號:">
                        <el-input v-model="user.mobile" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="暱稱:">
                        <el-input v-model="user.nickname" disabled></el-input>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
        <el-col :md="18" style="padding: 5px;">
            <el-card header="帳戶明細" style="height: 100%;" shadow="never">
                <el-tabs v-model="activeType" type="card" @tab-change="refreshLog">
                    {foreach $moduletype as $key=>$type}
                    <el-tab-pane label="{$type}" name="{$key}"></el-tab-pane>
                    {/foreach}
                </el-tabs>
                <yun-table
                        v-if="recharge_url"
                        :columns="rechargeDetail"
                        toolbar="refresh"
                        :extend="recharge_url">
                </yun-table>
            </el-card>
        </el-col>
    </el-row>
</template>
<script>
    import table from "@components/Table.js";
    export default{
        components:{'YunTable':table},
        data:{
            user:Yunqi.data.user,
            rechargeDetail: [
                {field: 'createtime', title: __('時間'),operate: {form:'date-picker',type:'daterange',size:'large'}},
                {field: 'before', title: __('交易前'),operate:false},
                {field: 'change', title: __('變化數目'),operate:false},
                {field: 'after', title: __('交易後'),operate:false},
                {field: 'order_no', title: __('訂單編號')},
                {field: 'remark', title: __('備註'),operate:false}
            ],
            activeType:'',
            recharge_url:''
        },
        onLoad:function (){
            this.activeType=Object.keys(Yunqi.data.moduletype)[0];
            this.refreshLog();
        },
        methods: {
            refreshLog:function (){
                this.recharge_url='';
                Vue.nextTick(()=>{
                    this.recharge_url={
                        index_url:'user/index/detail?type='+this.activeType+'&ids='+Yunqi.data.user.id
                    };
                });
            }
        }
    }
</script>
<style>

</style>
